#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --disabled
# Install OS instead of upgrade
install
# Use network installation
url --url="ftp://root:root@192.168.0.2/rhel6"
# Root password
rootpw --iscrypted $1$.uZfZZTZ$f2D9/qjaatkzQ7Wj47grw.
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use text mode install
text
firstboot --disable
# System keyboard
keyboard us
# System language
lang en_US
# SELinux configuration
selinux --permissive
# Installation logging level
logging --level=info
# Reboot after installation
reboot
# System timezone
timezone  Asia/Kolkata
# Network information
network  --bootproto=dhcp --device=eth0 --onboot=on
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel 
# Disk partitioning information
part /boot --fstype="ext4" --size=200
part / --fstype="ext4" --grow --size=1

%post
mkdir /setup
cd /setup
wget ftp://192.168.0.1/pub/scripts/1config.sh
bash 1config.sh
%end

%packages
@base
@basic-desktop
@compat-libraries
@console-internet
@debugging
@desktop-debugging
@dial-up
@directory-client
@general-desktop
@graphical-admin-tools
@hardware-monitoring
@large-systems
@legacy-unix
@legacy-x
@network-file-system-client
@network-tools
@performance
@perl-runtime
@print-client
@ruby-runtime
@scientific
@security-tools
@storage-client-iscsi
@storage-client-multipath
@system-admin-tools
@x11
compat-openmpi
compat-openmpi-psm
policycoreutils-gui
-PackageKit-gstreamer-plugin
-brasero-nautilus
-cheese
-gdm-plugin-fingerprint
-gnome-bluetooth
-gnote
-gthumb
-gucharmap
-gvfs-gphoto2
-gvfs-obexftp
-orca
-rhn-setup-gnome
-rhythmbox
-scenery-backgrounds
-sound-juicer
-subscription-manager-gui
-totem
-totem-nautilus
-vino

%end
